@font-face {
    font-family: 'Harlekin';
    src: url('Harlekin.eot');
    src: local('Harlekin'),
        url('Harlekin.eot?#iefix') format('embedded-opentype'),
        url('Harlekin.woff2') format('woff2'),
        url('Harlekin.woff') format('woff'),
        url('Harlekin.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

